.body-header{
  width: 100%;
  height: 100vh;
  background-image: url('../assets/background.png');
  background-repeat: no-repeat;
  background-size:cover;
}
.body-main{
  background-image: url('../assets/background-marrom.png');
  background-repeat: repeat-y;
  min-height: 300px;
  background-size:cover;
  padding-top: 2%;
}
.body-bottom{
  background-image: url('../assets/background-cinza.png');
  background-repeat: repeat-y;
  min-height: 300px;

}
