html, .body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.body-header{
  display: flex;
  width: 100%;
  min-height: 570px;
  margin-bottom: 1%;
  background-image: url('../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.body-main{
  background-image: url('../assets/background-marrom.png');
  background-repeat: repeat-y;
  min-height: 33%;
  background-size:cover;
  padding-top: 2%;
}