.botao-campanha{
    width: 7rem;
    text-align: center;
    line-height: 37px;
    font-size: 0.9rem;
    font-family: 'Lato-Bold' ,Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.botao-campanha:hover{
    color: black;
    background-color: brown;
}
.botao-campanha:focus{
    color: black;
    background-color: brown;
}

@media (max-width: 38em) {
    .botao-campanha{
        width: 5rem;
        font-size: 0.6rem;
        padding: 1px;
        border: 1px;
    }
}