.barra-final{
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color: #f59e0b;
    padding: 7px;
}

.duvidas,
.imagens-ilustrativas-texto{
    margin-top: 4px;
    font-size: 0.8rem;
}

.duvidas{
    margin-left: 15%;
}

.imagens-ilustrativas-texto{
    margin-left: 13%;
}
