.barra-final{
    display: flex;
    background-color: #f59e0b;
    padding: 7px;
}

.duvidas,
.imagens-ilustrativas-texto{
    margin-top: 4px;
    font-size: 0.8rem;
}

.duvidas{
    margin-left: 17%;
}

.imagens-ilustrativas-texto{
    margin-left: 13%;
}

@media (max-width: 600px) {
    .barra-final{
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 0.5rem;
        padding: 1px;
        border: 1px;
    }
    .duvidas{
        margin-left: 0%;
    }

    .imagens-ilustrativas-texto{
        margin-left: 0%;
    }
}