form {
    width: 45%;
    align-items: center;
    margin-left: 27%;
    color: #fff;
    font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 5%;
}

table {
    width: 70%;
}

.botao-enviar {
    font-weight: 600;
    font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
}

.tabela-topo {
    font-weight: 900;
    font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tabela-descricao {
    font-size: 0.9rem;
}

table {
    width: 100%;
}

th, td {
    border: blue solid 1px;
    padding: 0.6rem;
}


.inserir{
    border-bottom: 2px solid white;
    background-color: transparent;
}

.texto-input{
    display: flex;
    flex-direction: column;
    text-align: left;
}



/* botao select */

#classificacao option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}


#classificacao option[value="vazio"] {
    background: #ffffff;
}

#classificacao option[value="valor1"] {
    background: #161616c2;
}

#classificacao option[value="valor2"] {
    background: #181818e1;
}

#classificacao option[value="valor3"] {
    background: #161616c2;
}

#classificacao option[value="valor4"] {
    background: #181818e1;
}