form {
    width: 45%;
    align-items: center;
    margin-left: 27%;
    color: #fff;
    font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 5%;
}

table {
    width: 70%;
}

.botao-enviar {
    font-weight: 600;
    font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
}

.tabela-topo {
    font-weight: 900;
    font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tabela-descricao {
    font-size: 0.9rem;
}

table {
    width: 100%;
}

th, td {
    padding: 0.6rem;
}


.inserir{
    border-bottom: 2px solid white;
    background-color: transparent;
}

.inserir-cpf{
    border-bottom: 2px solid #f59e0b;
    background-color: transparent;


}

.inserir::placeholder{
    color:#ffffff;
}


.texto-input{
    display: flex;
    flex-direction: column;
    text-align: left;
}



/* botao select */

.segment{
    width: 100%;
}

.segment option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}


.segment option[value="vazio"] {
    background: #ffffff;
}

.segment option[value="Manager"] {
    background: #f59e0b;
}

.segment option[value="Reseller"] {
    background: #d97706;
}

.segment option[value="Distributor"] {
    background: #f59e0b;
}
