.login-form {
    display: inline-flex;
    width: 40%;
    align-items: center;
    margin-left: 35%;
    color: #fff;
    font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 5%;
}

.login-input{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 400px;
}

@media (max-width: 400px){
    .login-form {
        display: inline-flex;
        width: 40%;
        align-items: center;
        margin-left: 35%;
        color: #fff;
        font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-bottom: 5%;
    }

    .login-input{
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100px;
    }
}