.login-form {
    display: flex;
    width: 50%;
    align-items: center;
    margin-top: 3%;
    margin-left: 20%;
    color: #fff;
    font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 5%;
    justify-content: center;
}

.login-input{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 200%;
}

.login-topo,
.botao-login{
    margin-left: 70%;
}

@media screen and (max-width: 480px) {
    .login-form {
        align-items: left;
        margin-left: 0%;
        padding-bottom: 5%;
    }
    .login-input{
        margin-left: 6%;
        width: 170%;
    }
}
